body{
	background-color: hsl(0, 0%, 98%);
}

.dugme-pocetna {
  color:rgb(5, 4, 4);
  font-family: URW Gothic L, sans-serif;
  font-size: 0.6cm;
}



h1,h2,h3,h4,h5,h6{
	color:hsl(0, 0%, 30%);
}

.btn-out-success {
  color: #6c757d;
  border-color: #6c757d;
}
.btn-out-success:hover {
  color: #fff;
  background-color: #6c757d;
  border-color: #6c757d;
}
.btn-out-success:focus {
  outline: 0;
  box-shadow: 0 0 0 .2rem rgba(27, 27, 27, 0.25);
}
.box-element{
	box-shadow:hsl(0, 0%, 80%) 0 0 16px;
	border-radius: 4px;
	padding: 10px;
}

.thumbnail{
  border-radius: 8px 8px  0  0;
	width: 100%;
	height: 200px;
	-webkit-box-shadow: -1px -3px 5px -2px rgba(214,214,214,1);
    -moz-box-shadow: -1px -3px 5px -2px rgba(214,214,214,1);
    box-shadow: -1px -3px 5px -2px rgba(214,214,214,1);
}

.product{
	border-radius: 0 0 8px 8px;
}
.slike{
  border-radius: 0 0 150px 150px;
}
.btn1{
  font-family: URW Gothic L, sans-serif;
  color: #ececec;
  background-color: black;
  cursor: pointer;
  padding: .375rem .75rem;
  font-size: 1.2rem;
  line-height: 1.5;
  border-radius: 8px;
}

.bg-dark{
	background-color: hsl(51, 85%, 63%)!important;
}

#cart-icon{
	width:25px;
	display: inline-block;
	margin-left: 15px;
}

#cart-total{
	display: block;
	text-align: center;
	color:rgb(5, 4, 4);
  background-color: #ececec ;
	width: 20px;
	height: 20px;
	border-radius: 50%;
	font-size: 17px;
}

.col-lg-4, .col-lg-6, .col-lg-8, .col-lg-12{
	margin-top: 10px;
}

.btn{
  font-family: 'Courier New', monospace;
}

.row-image{
	width: 100px;
}

.form-field{
	width:250px;
	display: inline-block;
	padding: 5px;
}

.cart-row{
	display: flex;
    align-items: flex-stretch;
    padding-bottom: 10px;
    margin-bottom: 10px;
    border-bottom: 1px solid #ececec;

}

.quantity{
	display: inline-block;
	font-weight: 700;
	padding-right:10px;
	

}

.chg-quantity{
	width: 12px;
	cursor: pointer;
	display: block;
	margin-top: 5px;
	transition:.1s;
}

.chg-quantity:hover{
	opacity: .6;
}


.hidden{
	display: none!important;
}




/**Cart.html**/



[class*="entypo-"]:before {font-family: URW Gothic L, sans-serif;}
body {
  background-color: #ecf0f1;
}
h1, h2, h3, h4, h5, h6 { font-weight: 400; }
h1, .sub-heading {
  text-align: center;
  margin: .5rem 0 1rem;
}
.sub-heading {
  font-size: .75em;
  font-weight: 300;
}

/**
 * @section: utilities;
 * @see: Justify Grid [http://justifygrid.com/]
 */
._grid {
  
  text-align: justify !important;
  text-justify: distribute-all-lines;
  font-size: 0 !important;
  text-rendering: optimizespeed;
}
._grid:after {
  content: "";
  display: inline-block;
  width: 100%;
}
._column {
  display: inline-block;
  vertical-align: top;
  font-size: medium;
  text-align: left;
  text-rendering: optimizeLegibility;
}
._btn {
  font-family: URW Gothic L, sans-serif;
  border-radius: 0.50em;
  color: black;
  display: inline-block;
  background-color:hsl(51, 85%, 63%);
  border: none;
  padding: .5em .75em;
  text-align: center;
  font-weight: 300;
}

._btn:active {
  background-color: none;
  color: none;
}



/**
 * @section: shopping-cart;
 */
.shopping-cart {
  width: 80%;
  max-width: 60rem;
  margin: 0 auto;
}
/**
 * @extends: _grid;
 */
.shopping-cart--list-item {
  border: 1px solid #bdc3c7;
  margin-bottom: 3rem;
  height: 10rem;
  overflow: hidden;
}
.shopping-cart--list-item:hover,
.shopping-cart--list-item:hover * {
  border-color:hsl(175, 66%, 32%);
}
.shopping-cart--list-item > ._column {
    height: 100%; /* make vertical lines match */
}

/**
 * @section: product-info;
 * @extends: _column;
 */
.product-info {
  width: 70%;
  padding: .5rem;
}
.product-name {
  font: 300 2.4em/1 "Lato", sans-serif;
  letter-spacing: -.025em;
  margin: 2.5em 0 .125em;
}
.price {
  line-height: 1;
  text-align: right;
  margin-top: -5px;
}
.product-single-price {
  margin-right: 0rem;
  margin-top: -2.5rem;
  font-size: 2.4em;
}

/**
 * @section: product-modifiers;
 * @extends: _column;
 */
.product-modifiers {
  width: 12.496358%;
  text-align: right;
  border-left: 1px solid #bdc3c7;
}
.product-subtract,
.product-plus,
.product-qty {
  width: 33.330557%;
  background-color: transparent;
  color: #686868;
  text-align: center;
}
.product-qty {
  padding: .35em .75em;
}
.product-modifiers:hover .product-remove {
  visibility: visible;
}
.product-remove:before {
  margin-right: .5em;
}

.product-total-price {
  color: #95a5a6;
  font-size: 1.3em;
  padding: .95rem;
  margin-top: 70px;
}
.shopping-cart--list-item:hover .product-total-price {
  background-color:hsl(175, 66%, 32%);
  color: #ecf0f1;
}

/**
 * @section: cart-totals;
 * @extends: _grid;
 */
.cart-totals {
  border-top: 1px solid #bdc3c7;
  margin-bottom: 3rem;
}
.cart-totals ._column {
  width: 19.984013%;
  padding: .5rem;
  line-height: 1.2;
}

.cart-totals ._column:first-of-type {
  padding-left: 0;
}
.cart-totals-key {
  font-size: 1.125em;
  
}
.cart-totals-value {
  font-size: 2rem;
}
._column.checkout {
  text-align: right;
  padding: 0;
  margin-top: 1.5em;
  vertical-align: middle;
}
.checkout-btn:before {
  margin-right: .5em;
}
a:hover {
	color: #726102;
	text-decoration: none;
}

.navbar {
  border-radius: 0 0 25px 25px;
}